<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="仙台市卓球協会のホームページです。最新情報、大会予定、大会結果等の情報を提供しています。" />
    <meta name="author" content="仙台市卓球協会">
    <meta name="keywords" content="仙台市,仙台,卓球,大会,情報,登録,リーグ戦,杜の都,ラージボール,体育館,市民センター" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Imagetoolbar" content="no" />
    <link rel="shortcut icon" href="favicon.ico">
    <title>仙台市卓球協会</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/united/bootstrap.min.css">

    <!-- Web fonts -->
    <link rel="stylesheet" href="http://mplus-webfonts.sourceforge.jp/mplus_webfonts.css">

    <link href="../css/stta.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
<script>
var mes = {
"name" : "お名前",
"team" : "所属",
"title" : "タイトル",
"email":"メールアドレス" ,
"tel":"電話番号" ,
"title":"タイトル",
"body":"問い合わせ内容",
"required": "入力が必要です。",
"invalid": "形式が間違っています。",
};

$(function(){

});
function init() {
}
</script>
</head>

<body>
<div class="container">
<h1>仙台市卓球協会</h1>
</div>

