
body {
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif
  */

/*
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Sawarabi Mincho', sans-serif;
  */
  font-family: 'Noto Sans JP', sans-serif;

  /*
  font-size: 16px;
  line-height: 1.42857;
  background: #ffffff none repeat scroll 0 0;
  */
}

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
  /*
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif
  */
  /*
  font-weight: 300;
  line-height: 1.3;
  */
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
	margin-bottom:0px;
}
.header h1 {
    font-size: 14px;
    margin: 0;
    padding: 5px 0;
}
.header p {
    margin: 0;
    padding: 0;
}
.logo p {
    color: #8aaa16;
    font-size: 24px;
    font-weight: bold;
}
.banner {
    background: #ffffff none repeat scroll 0 0;
    margin: 10px 0 0;
    padding: 5px;
}
.banner img {
    margin: 0 auto;
}

div.stta_header {
  color: #000000;
  background-color: #f8dce0;
  background-image: url("images/header.gif");
  background-repeat: repeat-x;
  height:90px;
}
.stta_header h1 {
	margin: 5px 0 0 0;
}
.stta_header p {
	margin: 0px;
}

.stta_nav li {
    background-color: #dddddd;
    border-radius: 5px;
    margin: 5px 0 0;
    text-align: center;
    width: 188px;
}
.stta {
    background-color: #ffffff;
    margin: 10px 0 0;
    padding: 0;
}
.stta h2 {
    /*
    background-color: #0099FF;
    color: #fefefe;
    */
    font-size: 20px;
    margin: 0;
    padding: 10px 5px 10px 10px;
}
.stta h3 {
    font-size: 18px;
    padding: 5px;
    /*
    font-weight: bold;
    */
}
.stta_thumbnail img {
	display:inline;
}
div.stta-date {
  /*
  padding-left: 25px;
  */
  font-family: "Arial", sans-serif;
}
div.stta-news {
  padding-left: 25px;
}

.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.carousel {
  display: inline-block;
  /*
  width: 400px;
  */
}
.carousel img {
  /*
  width: 400px;
  */
}

.stta p {
    margin: 0;
    padding: 5px 10px;
}
.stta a {
    text-decoration: none;
}
.stta dl {
    margin: 0;
    padding: 5px 0;
}
.stta dt {
    font-weight: normal;
    width: 90px;
}
.stta dd {
    margin-left: 105px;
}
.thumbnail {
    margin: 10px 0 0;
    padding: 0;
}
.thumbnail h2 {
    background-color: #f4a460;
    color: #fefefe;
    font-size: 14px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.footer {
    /*
    background-color: #dddddd;
    */
    background-color: #222932;
    font-size: 14px;
    margin: 10px 0 0;
    padding: 20px 0;
    color:#ffffff;
}
.footer a {
    text-decoration: none;
}
.footer p {
    text-align:center;
}
.footer h2 {
    background-color: #888888;
    border-radius: 3px;
    color: #fefefe;
    font-size: 14px;
    margin: 5px 0 10px;
    padding: 8px 0;
    text-align: center;
}
.copyright {
    background-color: #222222;
    color: #fefefe;
    padding: 10px 0;
}
.copyright p {
    margin: 0;
    padding: 0;
}
.copyright a {
    color: #fefefe;
    text-decoration: none;
}
.copyright a:hover {
    color: #acacee;
}