
</div>
<!-- /container -->

<footer class="footer">
  <div class="container-fluid">
    <p>Webサイト担当：<a href="https://twitter.com/morningmist7" target="_blank" style="color:#ffffff">WAGATSUMA.T</a>
    </p>
    <p class="_text-muted">
      Copyright(C)&nbsp;仙台市卓球協会&nbsp;All rights reserved. | <a href="privacy.html">プライバシーポリシー</a>
    </p>
  </div>
</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/jquery.tada.js"></script>
  </body>
</html>
