{{ range sort .results ".id" "desc" }}
{{/* 変数の一時保管 */}}
{{ $code := .id }}
{{ $nendo := .nendo }}

<div class="container-fluid">
  <div class="row">
    <h3 id="g-{{.id}}" class="bg-info">
      <span id="#g-{{.id}}">{{.date}} {{.name}}</span>
    </h3>
  </div>

  {{/* 会場 */}}
  <div class="row">
    <ul>
      <li>会場：{{.location}}</li>
      {{ if .dead }}
      <li>〆切：{{.dead}}</li>
      {{ end }}
    </ul>
  </div>

  {{/* 大会要項(PDF) */}}
  {{ if .file }}
  <div class="row" style="margin: 10px">
    <a
      class="btn btn-primary"
      href="contents/{{.nendo}}/{{.id}}/{{.file}}"
      target="_blank"
      onclick="tp('contents/{{.nendo}}/{{.file}}');"
      >大会要項</a
    >
  {{ end }}

  {{/* 申込み用紙(PDF) */}}
  {{ if .form }}
    <a
      class="btn btn-info"
      href="contents/{{.nendo}}/{{.id}}/{{.form}}"
      target="_blank"
      onclick="tp('contents/{{.nendo}}/{{.form}}');"
      >申込用紙(PDF)</a
    >
  {{ end }}

  {{/* 申込みフォーム */}}
  {{ if .office }}

    {{/* 配列の場合 */}}
    {{ if reflect.IsSlice .office }}
      {{ range .office }}
        {{ range $label, $file := . }}
    <a class="btn btn-info"
      href="contents/{{$nendo}}/{{$code}}/{{$file}}"
      target="_blank"
      onclick="tp('contents/{{$nendo}}/{{$file}}');"
      >{{$label}}</a>
        {{ end }}
      {{ end }}

    {{ else }}{{/* 配列ではない */}}
    <a class="btn btn-info"
      href="contents/{{.nendo}}/{{.code}}/{{.office}}"
      target="_blank"
      onclick="tp('contents/{{.nendo}}/{{.office}}');"
      >申込フォーム</a>
    {{ end }}

  {{ end }}

  {{/* 同意書回収 */}}
  {{ if eq .covid19 "adult" }}
    <a
      class="btn btn-danger"
      href="./contents/健康チェックシート兼参加同意書-個人別一般.pdf"
      target="_blank"
      onclick="tp('contents/健康チェックシート兼参加同意書-個人別一般.pdf');"
      >同意書[当日回収]</a
    >
  {{ else if eq .covid19 "jh" }}
    <a
      class="btn btn-danger"
      href="./contents/健康チェックシート兼参加同意書-個人別中学.pdf"
      target="_blank"
      onclick="tp('contents/健康チェックシート兼参加同意書-個人別中学.pdf');"
      >同意書[当日回収]</a
    >
  {{ end }}

  {{/* 大会結果 */}}
  {{ if .result }}
    <a
      class="btn btn-success"
      href="contents/{{.nendo}}/{{.id}}/{{.result}}"
      target="_blank"
      onclick="tp('contents/{{.nendo}}/{{.result}}');"
      >結果</a
    >
  {{ end }}
  </div>

  {{/* コメント */}}
  {{ if .comment }}
  <hr />
  <div class="alert alert-warning" role="alert">{{.comment}}&nbsp;</div>
  {{ end }}


  {{ if .photo }}
  <div class="row" style="margin: 5px">
    <div class="gallery">
      {{ range $i, $file := .photo}}
      <a
        href="contents/{{ $nendo }}/{{ $code }}/{{ $file }}"
        data-lightbox="photos"
        ><img
          class="img-fluid"
          style="width: 100px; padding: 1px"
          src="contents/{{ $nendo }}/{{ $code }}/{{ $file }}"
      /></a>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
