<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="仙台市卓球協会のホームページです。最新情報、大会予定、大会結果等の情報を提供しています。" />
    <meta name="author" content="仙台市卓球協会">
    <meta name="keywords" content="仙台市,仙台,卓球,大会,登録,リーグ戦,杜の都,ラージボール,体育館,市民センター" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="Imagetoolbar" content="no" />
    <meta property="og:title"  content="仙台市卓球協会" />
    <meta property="og:type"   content="website" />
    <meta property="og:image"  content="http://www.sendai-tta.info/images/jumbotron.jpg" />
    <meta property="og:url"    content="http://www.sendai-tta.info/" />
    <meta property="og:description"  content="仙台市卓球協会が主催する大会・イベント情報です。" />
    <meta property="og:site_name"  content="仙台市卓球協会" />

    <link rel="apple-touch-icon" href="touch-icon.png">
    <link rel="shortcut icon" href="https://www.sendai-tta.info/touch-icon.png">

    <link rel="shortcut icon" href="favicon.ico">
    <title>仙台市卓球協会</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" as="style">
    <link rel="stylesheet" rel="preload" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/united/bootstrap.min.css" as="style">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" rel="preload" href="css/stta.css" as="style">


    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1079141-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1079141-6');
    </script>

<style type="text/css">
.jumbotron {
    position: relative;
    height: 150px;
    min-height: 100px;
    background: url(./images/jumbotron.webp) no-repeat center center;
    background-size: cover;
}
.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.jumbotron-container h1 {
	color:#FFFAFA;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1.5);
    background-image:url(images/title_3.webp);
    background-repeat: no-repeat;
    height: 60px;
    background-size:contain;
}
.jumbotron-container a {
	font-size:14px;
}
</style>
  </head>

<body>
<div id="google_translate_element" style="display:inline"></div>
<!--
http://www.tohoho-web.com/ex/bootstrap.html
-->
<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">ホーム</a></li>
		<li><a href="game_r03.html">大会情報_R03</a></li>
		<li><a href="game_r02.html">大会情報_R02</a></li>
		<li><a href="game_r01.html">大会情報_R01</a></li>
        <li><a href="schedule.html">年間計画</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="register.html">会員登録</a></li>
        <li><a href="./inquiry/inquiry.php" target="_blank">お問い合わせ</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'de,en,es,fr,it,ko,la,th,id,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
<div class="jumbotron">
<div class="container-fluid jumbotron-container">
<h1>&nbsp;
</h1>
<p>
<a class="btn btn-primary btn-lg" href="schedule.html" role="button">令和3年度年間計画 »</a>
</p>
</div>
</div>

<!-- container -->
<div class="container-fluid bs-docs-container">



