{{ partial "header.html" . }}


<script type="text/javascript">
$(document).ready(function(){

/* DOMの読み込み完了後に処理 */
if(window.addEventListener) {
	window.addEventListener( "load" , shareButtonReadSyncer, false );
}else{
	window.attachEvent( "onload", shareButtonReadSyncer );
}

/* シェアボタンを読み込む関数 */
function shareButtonReadSyncer(){
}


});
</script>

<p>仙台市卓球協会Webサイトへようこそ。協会情報、および当協会が主催する大会情報の発信を致します。</p>

<div class="stta">

<h2 class="bg-primary"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;重要なお知らせ</h2>
<ul>
<li><a href="./register.html">協会会員登録についてＱ＆Ａを追記しました</a>
  <small class="label label-default">05/26掲載</small>
</li>
<li><a href="./contents/how-to-entry-letter.pdf" target="_blank">大会参加申込みにおける各種受付方法の変更について(令和3年度より)</a>
  <small class="label label-default">02/25掲載</small>
</li>
</ul>

<!--
<h2 class="bg-primary"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;大会中止・延期情報（05/08更新）</h2>
<p style="color:red; font-weight:bold;">新型コロナウイルス対策および関連事情により、以下の大会について中止とする事と致しました。関連協会の情報と併せて掲載致します（決定順記載）
</p>
<ul>
<li>05/30 第57回仙台市民総合体育大会卓球大会
  <small class="label label-danger">05/08掲載</small>
</li>
<li>05/29 第21回仙台市ラージボール卓球大会
  <small class="label label-danger">05/08掲載</small>
</li>
</ul>
-->

<h2 class="bg-primary"><span class="glyphicon glyphicon-th-list"></span>&nbsp;お知らせ</h2>
<div class="container-fluid">

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/07/08
</div>
<div class="col-sm-10 stta-news">
09/11 仙台市卓球協会長杯争奪卓球大会（中学生の部）の要項を掲載しました。
<small class="label label-warning">New</small>
</div><!-- /news_row -->


<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/07/06
</div>
<div class="col-sm-10 stta-news">
09/12 仙台市卓球協会長杯争奪卓球大会（一般の部）の要項を掲載しました。
<small class="label label-warning">New</small>
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/07/06
</div>
<div class="col-sm-10 stta-news">
09/11 杜の都レディース卓球大会の要項を掲載しました。
<small class="label label-warning">New</small>
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/06/23
</div>
<div class="col-sm-10 stta-news">
06/19 仙台市卓球選手権大会（ダブルス戦）の結果を掲載しました。
<small class="label label-warning">New</small>
</div><!-- /news_row -->


<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/05/13
</div>
<div class="col-sm-10 stta-news">
06/19 仙台市卓球選手権大会（ダブルス戦）の要項を掲載しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/05/08
</div>
<div class="col-sm-10 stta-news">
役員改選に伴い、協会情報を更新しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/02/25
</div>
<div class="col-sm-10 stta-news">
04/11 令和3年度 仙台市春季卓球リーグ戦(男子)の要項を掲載しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/02/25
</div>
<div class="col-sm-10 stta-news">
04/10 令和3年度 仙台市春季卓球リーグ戦(女子)の要項を掲載しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/02/07
</div>
<div class="col-sm-10 stta-news">
令和3年度の大会スケジュールを掲載しました。
<div>
<strong>
  大会スケジュールはiCalフォーマットのフィードデータとしても公開しています。iPhoneのカレンダーアプリや、スマートフォンのGoogleカレンダーに登録をする事で、いつでも大会予定を参照する事ができます。
</strong>
</div>
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/02/02
</div>
<div class="col-sm-10 stta-news">
03/21 第50回 仙台市中学生新人卓球大会の要項を掲載しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/01/19
</div>
<div class="col-sm-10 stta-news">
【訂正】01/16 仙台市個人ラージボール卓球大会の結果に不足があり訂正しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/01/18
</div>
<div class="col-sm-10 stta-news">
02/11 仙台市個人卓球選手権大会(個人戦)の要項を掲載しました。
</div><!-- /news_row -->

<!-- news_row -->
<div class="col-sm-2 stta-date">
2021/01/18
</div>
<div class="col-sm-10 stta-news">
01/16 仙台市個人ラージボール卓球大会の結果を掲載しました。
</div><!-- /news_row -->

</div>

<!--
<h2 id="chairman" class="bg-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;ご挨拶</h2>
<div class="container-fluid">
<div class='col-xs-12'>
<img class='img-responsive pull-left col-xs-4' style='padding:0;margin:5px 15px 0 0;' src='images/kaichou2.jpg'>
	<p>皆様には、益々ご活躍のこととお慶び申し上げます。</p>
	<p>また平素は当協会の事業に対し、特段のご協力ご支援を賜り厚く御礼申し上げます。</p>
	<p>さて、この度会員の皆様に対し、仙台市卓球協会の活動をより広く知っていただくため、ホームページを開設することといたしました。</p>
	<p>大会日程・大会要領・試合結果等、最新のニュースを掲載し、会員の皆様方が大会に参加しやすいようお届けしてまいりますので、ご活用くださいますようお願い申し上げます。</p>
	<p>仙台市卓球協会　会長　斎藤 建雄</p>
</div>
</div>
-->
</div>


<div class="stta">
<h2 id="about" class="bg-primary"><span class="glyphicon glyphicon-flag"></span>&nbsp;協会情報</h2>

<p>令和三年度（更新：2021-06-29）</p>

<div class="container-fluid">
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">
<p>仙台市卓球協会 役員一覧</p>
<small>（）内には、兼務する5区の協会名を記載しています（青葉区、宮城野区、若林区、太白区、泉区）</small>
</div>


<div class="alt-table-responsive">
<table class="table table-condensed table-striped table-bordered">
          <tr>
            <th>会長</th>
            <td colspan="4">鈴木 伸一（若林）</td>
          </tr>

          <tr>
            <th>副会長</th>
            <td>渡辺 敏雄（青葉）</td>
            <td>新貝 博（宮城野）</td>
            <td>石田 優光（太白）</td>
            <td>渡辺 広衛（泉）</td>
          </tr>

          <tr>
            <th rowspan="2">顧問</th>
            <td>斎藤 建雄</td>
            <td>大久保 宏</td>
            <td>小野 隆</td>
            <td></td>
          </tr>
          <tr>
            <td>&#39641;橋 光範</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th>相談役</th>
            <td>熊谷 光夫</td>
            <td>高橋 次夫</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th>監事</th>
            <td>佐藤 康則</td>
            <td>伊藤 良一</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th>理事長</th>
            <td colspan="4">（兼）新貝 博</td>
          </tr>
          <tr>
            <th rowspan="2">副理事長</th>
            <td>遠藤 勇人（青葉）</td>
            <td>狹間 善次（宮城野）</td>
            <td>川村 重夫（若林）</td>
            <td>渡辺 健治（太白）</td>
          </tr>
          <tr>
            <td>佐藤 憲一（泉）</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th>事務局長</th>
            <td colspan="4">澤畑 和宏（宮城野）</td>
          </tr>
          <tr>
            <th>会計局長</th>
            <td colspan="4">（兼）渡辺 広衛</td>
          </tr>
          <tr>
            <th rowspan="2">常任理事</th>
            <td>熊谷 淳子（青葉）</td>
            <td>田中 康弘（宮城野）</td>
            <td>伊藤 結花（若林）</td>
            <td>菅野 知（太白）</td>
          </tr>
          <tr>
            <td>渡辺 博子（泉）</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <th>常任理事（会長任命）</th>
            <td>柴田 敬公</td>
            <td>千葉 尚美</td>
            <td>渡辺 久美</td>
            <td></td>
          </tr>
          <tr>
            <th>常任理事（中体連）</th>
            <td colspan="4">山田 恵子</td>
          </tr>
          <tr>
            <th rowspan="5">理事</th>
            <td>菅原 里子（青葉）</td>
            <td>岩島 照人（青葉）</td>
            <td>前田河 諒（青葉）</td>
            <td>阿部　茂（青葉）</td>
          </tr>
          <tr>
            <td>川畑 淳一（宮城野）</td>
            <td>阿部 真之（宮城野）</td>
            <td>清野 範子（宮城野）</td>
            <td></td>
          </tr>
          <tr>
            <td>櫻田 郁子（若林）</td>
            <td>竹之内 秀一（若林）</td>
            <td>辻 真哉（若林）</td>
            <td>針生 正樹（若林）</td>
          </tr>
          <tr>
            <td>村上 憲助（太白）</td>
            <td>吉田 友之（太白）</td>
            <td>小野寺 郁美（太白）</td>
            <td>山田 武芳（太白）</td>
          </tr>
          <tr>
            <td>野村 文子（泉）</td>
            <td>阿部 ゆたか（泉）</td>
            <td>菊池 康司（泉）</td>
            <td>河本 洋子（泉）</td>
          </tr>

          <tr>
            <th rowspan="2">理事（会長推薦）</th>
            <td>（兼 事務局次長）我妻 隆志</td>
            <td>平 仁美</td>
            <td>山崎 卓巳</td>
            <td>木村 昭夫</td>
          </tr>
          <tr>
            <td>千葉 理恵子</td>
            <td>本間 紀一郎</td>
            <td>白岩 英子</td>
            <td>佐藤 浩美</td>
          </tr>

          <tr>
            <th>理事（中体連）</td>
            <td>今野 啓</td>
            <td>元山 祐一</td>
            <td>柴田 亮</td>
            <td></td>
          </tr>
   </table>

 <h3 class="bg-info">青葉区卓球協会</h3>
 <table class="table table-condensed table-striped table-bordered">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><th>会長
  </th>
  <td>渡辺 敏雄
  </td></tr>
  <tr><th>副会長
  </th>
  <td>伊藤 良一、熊谷 淳子
  </td></tr>
  <tr><th>理事長
  </th>
  <td>遠藤 勇人
  </td></tr>
 </table>

 <h3 class="bg-info">若林区卓球協会</h3>
 <table class="table table-condensed table-striped table-bordered">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><th>会長
  </th>
  <td>鈴木 伸一
  </td></tr>
  <tr><th>副会長
  </th>
  <td>伊藤 結花
  </td></tr>
  <tr><th>理事長
  </th>
  <td>川村 重夫
  </td></tr>
 </table>

 <h3 class="bg-info">宮城野区卓球協会</h3>
 <table class="table table-condensed table-striped table-bordered">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><th>会長
  </th>
  <td>新貝 博
  </td></tr>
  <tr><th>副会長
  </th>
  <td>川畑 淳一、澤畑 和宏
  </td></tr>
  <tr><th>理事長
  </th>
  <td>狭間 善次
  </td></tr>
 </table>

 <h3 class="bg-info">太白区卓球協会</h3>
 <table class="table table-condensed table-striped table-bordered">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><th>会長
  </th>
  <td>石田 優光
  </td></tr>
  <tr><th>副会長
  </th>
  <td>村上 憲助、伊勢 典充、菅野 知
  </td></tr>
  <tr><th>理事長
  </th>
  <td>渡辺 健治
  </td></tr>
 </table>

 <h3 class="bg-info">泉区卓球協会</h3>
 <table class="table table-condensed table-striped table-bordered">
  <colgroup>
    <col style="width:30%;">
    <col style="width:70%;">
  </colgroup>
  <tr><th>会長
  </th>
  <td>渡辺 広衛
  </td></tr>
  <tr><th>副会長
  </th>
  <td>門間 秀光
  </td></tr>
  <tr><th>理事長
  </th>
  <td>佐藤 憲一
  </td></tr>
 </table>
</div>
</div>
</div>
</div>

<div class="bs-docs-section stta">
<h2 id="about" class="bg-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;リンク集</h2>
<h3 class="bg-success">協会・団体</h3>
  <ul class="link">
   <li><a href="http://tapinpon.wix.com/taihakutt" target="_blank">仙台市太白区卓球協会</a>
   </li>
   <li><a href="http://www.izumi-tta.com/" target="_blank">仙台市泉区卓球協会</a>
   </li>
   <li><a href="http://miyagino-tta.jimdo.com/" target="_blank">仙台市宮城野区卓球協会</a>
   </li>
   <li><a href="http://www.mctr-tt.com/" target="_blank">宮城県中体連卓球専門部</a>
   </li>
   <li><a href="http://www.miyagi-tta.com/" target="_blank">宮城県卓球協会</a>
   </li>
   <li><a href="http://www.jtta.or.jp/" target="_blank">公益財団法人 日本卓球協会</a>
   </li>
   </ul>
  <hr>
  <ul class="link">
   <li><a href="http://n-tta.jimdo.com/" target="_blank">名取市卓球協会</a>
   </li>
  </ul>
<h3 class="bg-success">卓球場・ショップ</h3>
  <ul class="link">
   <li><a href="http://sendaitakkyucenter.storeblog.jp/" target="_blank">仙台卓球センター</a>
   </li>
   <li><a href="http://www.sendai-takkyu-tamachi.com/" target="_blank">卓球のタマチ</a>
   </li>
   <li><a href="http://www.takkyu-noa.net/" target="_blank">卓球ラウンジＮＯＡ</a>
   </li>
   <li><a href="http://tabletennis-sendai.com/" target="_blank">仙台卓球スポーツクラブ</a>
   </li>
  </ul>
</div>

<!-- share -->
<hr>
<!-- fb -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- google -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'ja'}
</script>
<!-- twiter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="container-fluid">
<div class="col-sm-12" style="text-align:center">
	<a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
	<!-- Google+ -->
    <div class="g-plusone" data-annotation="inline" data-width="120"></div>
	<!-- hatena -->
	<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch-counter" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
	<!-- Facebook -->
	<div class="fb-like" data-href="http://www.sendai-tta.info/" data-width="120" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
</div>
</div>
<!-- /share -->


{{ partial "footer.html" . }}
