{{ partial "header.html" . }}

<div class="bs-docs-section stta">
<h2 id="inquiry" class="bg-primary"><span class="glyphicon glyphicon glyphicon-road"></span>&nbsp;大会情報(R03)</h2>

<div class="container-fluid">
   <p>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>今年度より大会申込み方法が変更となりました。<a href="./contents/how-to-entry.pdf" target="_blank" onclick="tp('contents/how-to-entry.pdf');" >大会参加申込み方法(pdf)</a>
   </p>
   <p>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>大会当日に同意書の提出が必要です。<a href="./contents/大会参加同意書【当日提出】.pdf" target="_blank" onclick="tp('contents/大会参加同意書【当日提出】.pdf');">大会参加同意書(pdf)</a>
   </p>
</div>

{{ range $.Site.Data.games.r03 }}
   {{ partial "game-article.html" . }}
{{ end }}

</div>

{{ partial "footer.html" . }}
{{ partial "game-script.html" . }}
